{
  "name": "[[name]]",
  "version": "0.0.1",
  "private": true,
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "vite",
    "lint": "eslint ."
  },
  "keywords": [],
  "author": "",
  "license": "ISC"
}
