{
  "name": "{{name}}",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "vite",
    "lint": "eslint ."
  },
  "dependencies": {
    "highlight.js": "latest",
    "reveal.js": "latest"
  },
  "devDependencies": {
    "eslint": "latest",
    "vite": "latest"
  }
}
